*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh; 
    background-image: url(img_4.jpg);
    background-color: rgba(255, 0, 0, 0.638);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.174);
    color: white;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
}

.map p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.372);
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.788);
}

.map p:hover{
    color: #ffffff;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 34px;
    width: 50px;
}

.endicons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 22px;
}

.ri-shopping-cart-line:hover{
    color: #be9857;
    transform: scale(1.1);
}

.ri-search-line:hover{
    color: #be9857;
    transform: scale(1.1);
}


.ri-account-circle-line:hover {
    color: #be9857;
    transform: scale(1.1);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.174);
}

.navitems a.active {
    color: white;
}

.navitems a:hover {
    color: white;
}

.nav a {
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.533);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;    
}


.main {
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    gap: 30px;
    color: white;
}

.bg {
    text-align: center;
    width: auto;
    border-radius: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.134);
    background: transparent;
    backdrop-filter: blur(30px);
}

.main h4 {
    padding: 12px 18px;
    font-weight: 400;
    font-size: 18px;
    color: #FFD99B;
}

.main h1{
    font-size: 52px;
    width: 54%;
    text-align: center;
}

.main p {
    color: rgba(255, 255, 255, 0.693);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 50%;
    text-align: center;
}

.box {
    font-family: "Roboto", sans-serif;
    width: 60%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: auto;
    padding: 0;
    border-radius: 12px;
    background-color: white;
    font-size: 14px;
    overflow: hidden;
    gap: 20px;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
}

.btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AD8B4F;
    padding: 0 30px;
    color: white;
    cursor: pointer;
    margin-left: auto;
    white-space: nowrap;
    font-size: 18px;
}

.btn:hover {
    background-color: #be9857;
}

.checkin, .checkout, .guest, .room {
    font-weight: 300;
    color: #AD8B4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
}
.date {
    color: rgb(43, 43, 43);
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.133);
    padding-bottom: 5px;
    
}